*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.parent-div {
        position: relative;
}
.layout-hover{
border: 1px dashed lightgrey;
    padding-top: 30px;
    padding-bottom: 30px;
    	background-color: rgba(63, 187, 118, 0.17);
}
 .layoutAction {
            position: absolute;
            top: 0;
            right: 0;
        }
.layoutAction > div {
    display: block;
        margin-bottom: 5px;
}
.layoutAction > div img, .layoutAction > a img {
    width: 100%;
    height: auto;
}
    .delete-handle, .drag-handle {
                background-color: #3fbb76;
    border-radius: 50%;
    overflow: hidden;
    width: 36px;
    vertical-align: middle;
    height: 36px;
    display: inline-block;
            cursor: pointer;
        }

/*Card Chip*/
.activefill {
     fill: #F1F1F1;
}
text.activefill{
    fill: rgba(0,0,0,.3);
}
.card-chip:hover .activefill,
.card-chip:focus .activefill{
    fill: #3FBB76;
}

.empty-content {
    color: #1b72f8;
    font-size: 12px;
    opacity: 0.8;
}
.currentAdding .empty-content{
    opacity: 1;
}


/*Right Side menu*/

.right-menu {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 0 12px lightgrey !important;
}
#cards-title .card-chip:last-child{
    border-bottom: 1px solid #efefef;
}
.media-bg {
    box-shadow: none !important;
}
.topnav .topnav-group {
    display: flex;
    display: -webkit-flex;
    text-align: center;
    background-color: #fff;
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    position: relative;
}
.topnav .topnav-group:before {
content: "";
    position: absolute;
    height: 2px;
    width: 120px;
    bottom: 0;
    background-color: #1b72f8;
    }
.topnav[data-position= "layout"] .topnav-group:before {
    left: 0;
}
.topnav[data-position="blocks"] .topnav-group:before {
    left: 120px;
}
.topnav[data-position="settings"] .topnav-group:before {
    left: 240px;
}
.topnav .navItem {
    width: 120px;
    cursor: pointer;
        padding-top: 15px;
    padding-bottom: 15px;
}
/*Block Contents*/
.block-contents{
        display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-content: flex-start;
}

.block-contents > div {
    width: 50%;
}
.block-contents .b-fill{
    fill: #979797;
}
.block-contents > div:hover .b-fill,
.block-contents > div.active .b-fill{
    fill: #1B72F8;
}
.block-contents .bg-fill{
/*    fill: #F8F8F8;*/
}
.card-action{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.block-body{
    position: relative;
    height: 100%;
    }
.block-settings{
    padding: 15px;
position: absolute; 
background-color: #ffffff;
height: 100%;
width: 100%;
top: 0;
    transition: all linear 0.25s;
-webkit-transition: all linear 0.25s;
-moz-transition: all linear 0.25s;
-o-transition: all linear 0.25s;
}
.block-body-text, .block-body-image, .block-body-button,  .block-body-html{
    left: 100%;
}
.block-body-text.in, .block-body-image.in, .block-body-button.in, .block-body-html.in{
    left: 0;
}

.block-settings .block-text-header{
    display: flex;
    align-content: center;
    align-items: center;
        height: 40px;
}
.text-to-block {
    cursor: pointer;
}
.block-settings .block-text-header p {
    
margin-left: 10px;
    	opacity: 0.5;
	
	font-size: 20px;
	letter-spacing: 0.3px;
	color: #000000;
}

.block-action {
   display: flex;
    display: -webkit-flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
}
.block-action .btn{
    width: 100%;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
.block-action .btn.button-default {
    background-color: #eeeeee;
    margin-right: 5px;
    color: rgba(0,0,0,0.5)
}
.block-action .btn.button-primary{
    background-color: rgba(27, 114, 248,1);
    color: #fff;
    
    margin-left: 5px;
}

.reset-button .button-primary{
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #1B72F8;
    padding: 10px 20px;
    color: #fff;
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}
.reset-button .button-primary:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0,0.15);
    transform: scale(1.01)
}
.card-action,
.card-settings{
    position: absolute;
    padding: 10px;
    width: 100%;
    height: calc(100% - 52px);
    background-color: #fff;
    left: 100%;
    top: 52px;
    transition: all linear 0.25s;
    -webkit-transition: all linear 0.25s;
    -moz-transition: all linear 0.25s;
    -o-transition: all linear 0.25s;
}
.card-action.in,
.card-settings.in{
    left: 0%;
}
.card-settings {
    background-color: #fff;
}

.alreadyClicked {
    opacity: 0.3;
}
.currentActive{
 opacity: 1;
    border: 2px solid #1B72F8;
}

.indiText, .indiImage, .indiButton, .indiHtml{
    position: relative;
}
.contentAction{
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 110px;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.contentAction > div {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}
.contentAction > div > img {
    width: 100%;
    height: auto;
}
.deleteData,.addData, .editData{
    background-color: #1b72f8;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.editor {
    max-height: 390px;
    overflow: scroll;
}

 .textContent , .htmlNowEditing{
/*    background-color: rgba(0,0,0,0.05);*/
     border: 2px dotted red;
}
.imageContent, .buttonContent{
        overflow: scroll;
    height: calc(100% - 90px);
}
.content-heading{
    margin-top: 25px;
    margin-bottom: 0px;
}
.button-group .button-forms{
    display: inline-block;
    width: calc(50% - 4px);
}
.button-forms{
    margin-top: 15px;
}
.button-forms label {
    display: block;
    color: #979797;
}
.button-forms input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    color: #000000; 
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #ccc;
}

.button-placement {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    margin-top: 10px;
}
.button-placement > div {
    flex-grow: 1;
}
.buttonPlacement.active rect, .imgPlacement.active rect{
    stroke: #1b72f8;
}
.buttonPlacement.active path, .imgPlacement.active path  {
    fill: #1b72f8;
}



/*Color Picker*/
.button-forms {
    position: relative;
}
.button-forms .sp-replacer{
    position: absolute;
    right: 5px;
    top: 22px;
    border-radius: 30px;
    background-color: transparent;
    border-color: transparent;
}
.button-forms .sp-preview{
    border-radius: 30px;
    margin-right: 0px;
    background-color: transparent;
    border-color: #000;
    overflow: hidden;
    width: 28px;
    height: 28px;
}

.sp-dd {
    display: none
}
.htmlData{
    width: 100%;
    height: 275px;
    resize: vertical;
}
.helpText{
    font-size: 14px;
    margin-top: 15px;
    color: rgba(226, 0, 0, 0.71);
}